/*--------- CORES ---------
Background-Gradient = #3E4554 -> #242830
Navbar-Gradient = #EBEDEF -> #DCDEE0
Parte de cima do painel = #BEC2CB
Parte do corpo do painel = #EBEDEF
Letra branca dentro do label = #F5F5F5
Cores letras escuras(texto) e badge = #42444E
Cor Titulos = #AF9CED
-------------------------*/


/* Retirados do comum */

body {
    /*background-color: #3E4554;*/
    font: 100% runhills, palanquin;
    margin: 0;
    background: #3E4554;
    background: -webkit-linear-gradient(to bottom right, #3E4554, #242830);
    background: -o-linear-gradient(to bottom right, #3E4554, #242830);
    background: -moz-linear-gradient(to bottom right, #3E4554, #242830);
    background: linear-gradient(to bottom right, #3E4554, #242830);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Botao scroll topo */
.cd-top {
    border-radius: 2em 0em 0em 2em;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 0px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #AF9CED url(/img/vectors/top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

    .cd-top.cd-top--show,
    .cd-top.cd-top--fade-out,
    .cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
        transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    }

    .cd-top.cd-top--show {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    .cd-top.cd-top--fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: .5;
    }

    .cd-top:hover {
        background-color: #AF9CED;
        opacity: 1;
    }

    @media only screen and (min-width: 768px) {
        .cd-top {
            right: 0px;
            bottom: 20px;
        }
    }

    @media only screen and (min-width: 1024px) {
        .cd-top {
            height: 60px;
            width: 60px;
            right: 0px;
            bottom: 30px;
        }
    }


/* Barra de Progresso */
.progress {
  position: fixed;
  top: 0px;
  border: none;
  width: 100%;
  height: 0.5em;
  border-radius: 0px;
}

progress::-webkit-progress-value {
  background: #AF9CED;
  color: #fff; /* Para IE10 */
  -webkit-appearance: none;
}


progress::-webkit-progress-bar {
  background: #69658C;
}


progress::-moz-progress-bar {
  background: #AF9CED;
}


/*Titulo-Sessoes*/
.titulo-secao{
    margin-top: 1em;
    font-family: 'runhills';
    font-size: 2.5em;
    color: #AF9CED;
    line-height: 1em;
}

/* Relativo aos paineis */
.panel {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.3em;
    border: 0em;
    margin: 1.5em 0em 0em 0em;
    font-family: 'palanquin';
    color: red;
    font-size: 1em;
}

.badge {
  color: #EBEDEF;
  background-color: #42444E;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 0.3em;
  margin-right: 1em;
}

.panel > .panel-heading {
	background-color: #BDC2CC;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-color: transparent;
	border-radius: 0.3em 0.3em 0em 0em;
	

}

.titulo-painel{
	font-size: 1.2em;
	color: #42444E;
	line-height: 1em;

}

.panel > .panel-body {
background-color: #EBEDEF;
padding:0.9em 0px 0.9em 0px;
border-color: blue;
border-radius: 0px 0px 5px 5px;
}


/* Relativo aos botoes */
.btn, .btn:visited {
    color: #42444E;
    font-size: 1.4em;
    font-family: 'palanquin';
    border-radius: 0.3em;
    background-color: #EBEDEF;
    border: none;
    padding: 1em;
    margin: 2em 0em 1em 0em;
}


    .btn:hover, .btn:focus, .btn:active {
        color: #42444E;
        font-size: 1.4em;
        font-family: 'palanquin';
        border-radius: 0.3em;
        background-color: #BDC2CC;
        border: none;
        padding: 1em;
        margin: 2em 0em 1em 0em;
    }

/* Relativo ao box de opcoes */
.form-control{
	font-size: 1em;
	color: #42444E;
    padding: 0.3em;
}

.form-control:focus {
    border-color: #42444E;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(66,68,77,.4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.4);
}

label {
  display: block;
}

/* Rodape */
.footer {
   position: none;
   background-color: none;
   text-align: center;
   font-size: 1em;
   margin-bottom: 1em;
}

#link-rodape{
	color: #EBEDEF;
	outline: none;
	background: none;
	border: none;
	text-decoration: none;
	font-family: 'runhills';
	margin-left: 0.2em;
}

#link-rodape:hover{
	color: #BDC2CC;
	outline: none;
	background: none;
	border: none;
	text-decoration: none;
	font-family: 'runhills';
	margin-left: 0.2em;
}

#copyright-rodape{
	color: #AF9CED;
	font-family: 'palanquin';
}


/* Faixa ano de avaliacao */
.faixa-ano {
    padding: 0.5em;
    background-color: #AF9CED;
    color: #3E4554;
    margin: 0em;
    font-family: 'palanquin';
    font-size: 1.5em;
    line-height: 1em;
    z-index: 2;
}


/*indicador de periodo*/
#lbAno {
    margin-top: 1em;
    font-family: 'palanquin';
    color: #3E4554;

}

.btnmodal{
    margin-left: 0em;
}

.btnmodal:hover{
    color: #000;
}


