/*--------- CORES ---------
Background-Gradient = #3E4554 -> #242830
Navbar-Gradient = #EBEDEF -> #DCDEE0
Parte de cima do painel = #BEC2CB
Parte do corpo do painel = #EBEDEF
Letra branca dentro do label = #F5F5F5
Cores letras escuras(texto) e badge = #42444E
Cor Titulos = #AF9CED
-------------------------*/

body {
  /*background-color: #3E4554;*/
  font: 100% runhills, palanquin;
  margin: 0;
  background: #3E4554;
  background: -webkit-linear-gradient(to bottom right, #3E4554, #242830);
  background: -o-linear-gradient(to bottom right, #3E4554, #242830);
  background: -moz-linear-gradient(to bottom right, #3E4554, #242830);
  background: linear-gradient(to bottom right, #3E4554, #242830); height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'palanquin';
}


/* Botao scroll topo */
.cd-top {
    border-radius: 2em 0em 0em 2em;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 20px;
    right: 0px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    /* image replacement properties */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: #AF9CED url(/img/vectors/top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
    transition: opacity .3s 0s, visibility 0s .3s, background-color .3s 0s;
}

    .cd-top.cd-top--show,
    .cd-top.cd-top--fade-out,
    .cd-top:hover {
        -webkit-transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
        transition: opacity .3s 0s, visibility 0s 0s, background-color .3s 0s;
    }

    .cd-top.cd-top--show {
        /* the button becomes visible */
        visibility: visible;
        opacity: 1;
    }

    .cd-top.cd-top--fade-out {
        /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
        opacity: .5;
    }

    .cd-top:hover {
        background-color: #AF9CED;
        opacity: 1;
    }

@media only screen and (min-width: 768px) {
    .cd-top {
        right: 0px;
        bottom: 20px;
    }
}

@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 0px;
        bottom: 30px;
    }
}

/* Navbar-Gradient */
.navbar-custom {
    z-index: 1000;
    background-image: linear-gradient(to top right, #EBEDEF, #DCDEE0);
    font-family: 'runhills';
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #42444E;
     
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #42444E;

}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000;
}

/*Botao collapse*/
#botaocollapse {
    font-size: 1.5em;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    color: #42444E;
    margin: 0em;
}


/* Relativo ao rodape */

.footer {
    position: none;
    background-color: none;
    text-align: center;
    font-size: 1em;
    margin-bottom: 1em;
}

#link-rodape {
    color: #EBEDEF;
    outline: none;
    background: none;
    border: none;
    text-decoration: none;
    font-family: 'runhills';
    margin-left: 0.2em;
}

    #link-rodape:hover {
        color: #BDC2CC;
        outline: none;
        background: none;
        border: none;
        text-decoration: none;
        font-family: 'runhills';
        margin-left: 0.2em;
    }

#copyright-rodape {
    color: #AF9CED;
    font-family: 'palanquin';
}


/* Botoes/Icones de temas */

.icone-tema{
    margin-top: .5em;
}




.sessoes {
    margin-top: 1em;
    font-family: 'runhills';
    font-size: 2.5em;
    color: #AF9CED;
    line-height: 1em;
}

/* Relativo aos paineis */
.panel {
    background-color: transparent;
    border-color: transparent;
    border-radius: 0.3em;
    border: 0em;
    margin: 1.5em 0em 0em 0em;
    font-family: 'palanquin';
    color: red;
}

.badge {
    color: #EBEDEF;
    background-color: #42444E;
    padding: 0.25em 0.5em 0.25em 0.5em;
    border-radius: 0.3em;
    margin-right: 1em;
}

.panel > .panel-heading {
    background-color: #BDC2CC;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-color: transparent;
    border-radius: 0.3em 0.3em 0em 0em;
}

.titulo-painel {
    font-size: 1.2em;
    color: #42444E;
    line-height: 1em;
}


.panel > .panel-body {
    background-color: #EBEDEF;
    padding: 0.9em 0px 0.9em 0px;
    border-color: blue;
    border-radius: 0px 0px 5px 5px;
}

/* Relativo aos botoes */
.btn, .btn:visited {
    border-radius: 0.3em;
    background-color: #EBEDEF;
    border: none;
    padding: 1em;
    margin: 2em 0em 1em 0em;
}


    .btn:hover, .btn:focus, .btn:active {
        border-radius: 0.3em;
        background-color: #BDC2CC;
        border: none;
        padding: 1em;
        margin: 2em 0em 1em 0em;
    }

/* Relativo ao box de opcoes */
.enviar-botao {
    font-family: 'palanquin';
    font-size: 1.2em;
    color: #42444E;
    text-align: center;
}


.form-control {
    font-size: 1em;
    color: #42444E;
}

    .form-control:focus {
        border-color: #42444E;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(66,68,77,.4);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.4);
    }


/* Cores dos icones indicadores*/
.icone-feliz {
    color: #BCD67F;
}

.icone-diamante {
    color: #7ABEE9;
}

.icone-normal {
    color: #FDEE51;
}

.icone-triste {
    color: #D4624A;
}

/* Estilo geral dos icones*/
.icone-indicador {
    font-size: 1.5em;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}


/* Login */


/* campo senha escondido */
.olho {
    color: #42444E;
    float: right;
    margin-right: 0.5em;
    margin-top: -1.7em;
    position: relative;
    z-index: 2;
}

    .olho:hover {
        color: #000;
    }

.form-control::-webkit-input-placeholder {
    opacity: 0.5;
}
/* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
    opacity: 0.5;
}
/* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
    opacity: 0.5;
}
/* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
    opacity: 0.5;
}
/* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
    opacity: 0.5;
}

.form-box {
    margin: 3em 1em 2em 1em;
    padding: 1em;
    background: #AF9CED;
    background: -webkit-linear-gradient(to bottom right, #AF9CED, #69658C);
    background: -o-linear-gradient(to bottom right, #AF9CED, #69658C);
    background: -moz-linear-gradient(to bottom right, #AF9CED, #69658C);
    background: linear-gradient(to bottom right, #AF9CED, #69658C);
    border-radius: 1em;
}

#login-form {
    padding: 1em 1.5em 1em 1.5em;
    margin: 0em 0em 0em 0em;
}

/* Texto-form */
input.form-control {
    font-family: palanquin;
    background-color: #EBEDEF;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    padding-right: 1.5em;
}

/* Relativo ao texto dos nomes */
.titulo-form {
    margin-top: 1em;
    font-family: 'runhills';
    font-size: 1.5em;
    color: #42444E;
    line-height: 1em;
    margin-bottom: 1em;
}



#btnEntrar, #btnSair {
    font-family: 'runhills';
    font-size: 1.2em;
    color: #42444E;
    text-align: center;
    background: transparent;
    padding: 0em 0em 0.2em 0em;
    margin: 0em;
    outline: 0;
    border-color: transparent;
}


    #btnEntrar:hover, #btnEntrar:active, #btnEntrar:focus, #btnSair:hover, #btnSair:focus, #btnSair:active {
        font-family: 'runhills';
        font-size: 1.2em;
        color: #000;
        text-align: center;
        background: transparent;
        padding: 0em 0em 0.2em 0em;
        margin: 0em;
        outline: 0;
        border-color: transparent;
        cursor: pointer;
    }

   .icone-nav-bar{
       margin-right: 0.2em;
   }

#btnLinkUsuario, #btnLinkAluno, #btnLinkPeriodo, #btnEnviar {
    font-family: 'palanquin';
    background-color: #EBEDEF;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    padding: 0em;
    color: #42444E;
    margin-top: 1.5em;
    font-size: 1.3em;
    padding: 0.5em;
}

    #btnLinkUsuario:hover, #btnLinkAluno:hover, #btnLinkPeriodo:hover,
    #btnEnviar:hover, #btnLinkUsuario:active, #btnLinkAluno:active,
    #btnLinkPeriodo:active, #btnEnviar:active#btnLinkUsuario:focus,
    #btnLinkAluno:focus, #btnLinkPeriodo:focus, #btnEnviar:focus {
        font-family: 'palanquin';
        background-color: #BDC2CC;
        border-radius: 0.3em 0.3em 0.3em 0.3em;
        padding: 0em;
        color: #42444E;
        outline: none !important;
        box-shadow: none;
        margin-top: 1.5em;
        font-size: 1.3em;
        padding: 0.5em;
    }

/* Relativo ao gridview */

.gridview {
    font-family: 'palanquin';
    font-size: 1.1em;
    color: #42444E;
    width: 100%;
    /*this will be the color of the odd row*/
    background-color: #BDC2CC;
    margin: 2em 0em 1em 0em;
    -moz-border-radius: 1em;
    border-radius: 15em;
    border: solid 1px #BDC2CC;
    /*border-collapse: collapse;*/
}

    /*data elements*/
    .gridview td {
        background-color: #EBEDEF;
        padding: 0.4em 0.4em 0.4em 0.4em;
        /*border: solid 1px #c1c1c1;*/

    }


    /*header elements*/
    .gridview th {
        padding: 0.4em 0.4em 0.4em 0.4em;
        background-color: #BDC2CC;

    }
