/**/
/*
CORES

Background = #3E4554
Parte de cima do painel = #BEC2CB
Parte do corpo do painel = #EBEDEF
Letra branca dentro do label = #F5F5F5
Cores letras escuras(texto) e badge = #42444E
Cor titulos = #AF9CED

*/


/* Apenas onde tem a progress bar */

.navbar-custom {
    /*background-color: #EBEDEF; */
    background-image: linear-gradient(to top right, #EBEDEF, #DCDEE0); 

}


/* barra de progresso */


.progress {

  position: fixed;
  top: 0px;
  border: none;
  width: 100%;
  height: 0.5em;
  border-radius: 0px;
}



progress::-webkit-progress-value {
  background: #AF9CED;
  color: #fff; /* For IE10 */
  -webkit-appearance: none;
}


progress::-webkit-progress-bar {
  background: #69658C;
}


progress::-moz-progress-bar {
  background: #AF9CED;
}

progress::-moz-progress-value{
  background: #69658C;
}



.sessoes{
	margin-top: 1em;
	font-family: 'runhills';
	font-size: 2.5em;
	color: #AF9CED;
	line-height:1em;
}

/* Relativo aos paineis */
.panel{
	background-color: transparent;
	border-color: transparent;
	border-radius: 0.3em;
	border: 0em;
	margin: 1.5em 0em 0em 0em;
	font-family: 'palanquin';
	color: red;
}

.badge {
  color: #EBEDEF;
  background-color: #42444E;
  padding: 0.25em 0.5em 0.25em 0.5em;
  border-radius: 0.3em;

  margin-right: 1em;
}

.panel > .panel-heading {
	background-color: #BDC2CC;
	padding: 0.5em 0.5em 0.5em 0.5em;
	border-color: transparent;
	border-radius: 0.3em 0.3em 0em 0em;
	

}

.titulo-painel{
	font-size: 1.2em;
	color: #42444E;
	line-height: 1em;

}


.panel > .panel-body {
background-color: #EBEDEF;
padding:0.9em 0px 0.9em 0px;
border-color: blue;
border-radius: 0px 0px 5px 5px;

}

/* Relativo aos botoes */

.btn, .btn:visited{
	border-radius: 0.3em;
    background-color: #EBEDEF;
    border: none;
    padding: 1em;
	margin: 2em 0em 1em 0em;
}


.btn:hover, .btn:focus, .btn:active{
	border-radius: 0.3em;
    background-color: #BDC2CC;
    border: none;
    padding: 1em;
	margin: 2em 0em 1em 0em;

}

/* Relativo ao box de opcoes */

.enviar-botao{

	font-family: 'palanquin';
	font-size: 1.2em;
	color: #42444E;
	text-align: center;

}


.form-control{
	font-size: 1em;
	color: #42444E;
}

.form-control:focus {
    border-color: #42444E;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(66,68,77,.4);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,.4);
}

label {
  display: block;
}

/* Relativo ao rodape */

.footer {
   position: none;
   background-color: none;
   text-align: center;
   font-size: 1em;
   margin-bottom: 1em;
}

#link-rodape{
	color: #EBEDEF;
	outline: none;
	background: none;
	border: none;
	text-decoration: none;
	font-family: 'runhills';
	margin-left: 0.2em;
}

#link-rodape:hover{
	color: #BDC2CC;
	outline: none;
	background: none;
	border: none;
	text-decoration: none;
	font-family: 'runhills';
	margin-left: 0.2em;
}

#copyright-rodape{
	color: #AF9CED;
	font-family: 'palanquin';
}










