/*--------- CORES ---------
Background-Gradient = #3E4554 -> #242830
Navbar-Gradient = #EBEDEF -> #DCDEE0
Parte de cima do painel = #BEC2CB
Parte do corpo do painel = #EBEDEF
Letra branca dentro do label = #F5F5F5
Cores letras escuras(texto) e badge = #42444E
Cor Titulos = #AF9CED
-------------------------*/

body {
    background-color: #3E4554;
}


.colorido {
    background-color: #AF9CED;
}

#logo {
    margin: 6em 0 3em 0;
    width: 35em;
}

.texto-sobre {
    color: #F0F2F5;
    font-size: 2.3em;
    font-family: 'arial';
    text-transform: uppercase;
    margin-bottom: 2em;
    text-align: center;
}

hr {
    background-color: #F0F2F5;
    border-color: transparent;
    width: 60%;
    height: 0.2em;
}

.texto-colunas {
    padding: 1em;
    color: #42444E;
    font-size: 2em;
    font-family: 'arial';
    text-align: center;
}

.titulo-colunas {
    color: #42444E;
    font-size: 2em;
    font-family: 'arial';
    margin-bottom: 0.5em;
    text-align: center;
}

.titulo-geral {
    padding: 1em;
    color: #42444E;
    font-size: 4em;
    font-family: 'arial';
    margin-top: 1em;
    text-align: center;
}


.cinza {
    background-color: #EBEDEF;
}



#img-calculo {
    margin: 1em 0 1em 0;
    width: 100%;
}

.branco {
    background-color: #F0F2F5;
}

.titulo-utilizam {
    color: #F0F2F5;
    font-size: 3.2em;
    font-family: 'arial';
    margin: 1em 0 1em 0;
    text-align: center;
}

.utilizam-nps {
    margin-bottom: 5em;
}

.painel-calculo {
    background-color: #F0F2F5;
}

.calculo-nps {
    margin: 1em 0 1em 0;
    color: #42444E;
    font-size: 3.2em;
}

.img-calculo {
    margin-bottom: 2em;
}

.claro {
    background-color: #B4A9F5;
}

.nps-indicadores {
    padding: 3em 1em 3em 1em;
}
