/**/
/*
CORES

Background = #3E4554
Parte de cima do painel = #BEC2CB
Parte do corpo do painel = #EBEDEF
Letra branca dentro do label = #F5F5F5
Cores letras escuras(texto) e badge = #42444E
Cor titulos = #AF9CED

*/


/* Cores icones */
.feliz {
    color: #BCD67F;
    font-size: 1.5em;
}

.diamante {
    color: #7ABEE9;
    font-size: 1.5em;
}

.normal {
    color: #FDEE51;
    font-size: 1.5em;
}

.triste {
    color: #D4624A;
    font-size: 1.5em;
}



/*titulo dos blocos */
.titulo-bloco {
    font-family: 'runhills';
    font-size: 2em;
    color: #42444E;
    line-height: 1.2em;
}

/* Texto explicando*/
.texto-exp {
    padding: 1em;
    background-color: transparent;
    margin: 0em;
    color: #F5F5F5;
    font-family: 'palanquin';
    font-size: 1.2em;
    text-align: justify;
    text-justify: inter-word;
}


/*titulo dos blocos */
.titulo-parte {
    font-family: 'runhills';
    font-size: 2em;
    color: #AF9CED;
    line-height: 1.2em;
}

.colorido {
    background-color: #AF9CED;
    padding: 1em;
}

.trasparente {
    background-color: transparent;
}
